<div class="inventory-filters">
  <ul class="filter-list" data-filter="techPowerbook">
    <li class="filter-title">{{localize "SW5E.Filter"}}</li>
    <li class="filter-item" data-filter="action">{{localize "SW5E.Action"}}</li>
    <li class="filter-item" data-filter="bonus">{{localize "SW5E.BonusAction"}}</li>
    <li class="filter-item" data-filter="reaction">{{localize "SW5E.Reaction"}}</li>
    <li class="filter-item" data-filter="concentration">{{localize "SW5E.AbbreviationConc"}}</li>
  </ul>
</div>
