<div class="powercasting-ability">
  <div class="power-dc power-mod">
    <h4>Universal</h4>
    <span>DC {{data.attributes.powerForceUnivDC}} / Mod {{positive-prefix (max data.abilities.wis.mod data.abilities.cha.mod)}}
  </div>

  <div class="power-dc power-mod">
    <h4>Light</h4>
    <span>DC {{data.attributes.powerForceLightDC}} / Mod {{positive-prefix data.abilities.wis.mod}}
  </div>

  <div class="power-dc power-mod">
    <h4>Dark</h4>
    <span>DC {{data.attributes.powerForceDarkDC}} / Mod {{positive-prefix data.abilities.cha.mod}}
  </div>

  {{#if isNPC}}
  <h3>{{localize 'SW5E.PowercasterLevel'}}</h3>
  <input
    class="powercasting-level"
    type="text"
    name="data.details.powerLevel"
    value="{{data.details.powerLevel}}"
    data-dtype="Number"
    placeholder="0"
  />
  {{/if}}
</div>
