<div class="powercasting-ability">
  <div class="resource">
    <h4>{{localize "SW5E.ConsumableForce"}}</h4>

    <div>
      <input
        name="data.attributes.force.points.value"
        type="text"
        value="{{data.attributes.force.points.value}}"
        data-dtype="Number"
        placeholder="0"
      />
      <span>/</span>
      <input
        name="data.attributes.force.points.max"
        type="text"
        value="{{data.attributes.force.points.max}}"
        data-dtype="Number"
        placeholder="0"
      />
    </div>

    <footer>
      <input
        name="data.attributes.force.points.temp"
        type="text"
        placeholder="+Temp"
        value="{{data.attributes.force.points.temp}}"
        data-dtype="Number"
      />
      <input
        name="data.attributes.force.points.tempmax"
        type="text"
        placeholder="+Max"
        value="{{data.attributes.force.points.tempmax}}"
        data-dtype="Number"
      />
    </footer>
  </div>

  <div class="power-dc power-mod">
    <h4>Universal</h4>
    <span>DC {{data.attributes.powerForceUnivDC}} / Mod {{numberFormat (max data.abilities.wis.mod data.abilities.cha.mod) decimals=0 sign=true }}</span>
  </div>

  <div class="power-dc power-mod">
    <h4>Light</h4>
    <span>DC {{data.attributes.powerForceLightDC}} / Mod {{numberFormat data.abilities.wis.mod decimals=0 sign=true }}</span>
  </div>

  <div class="power-dc power-mod">
    <h4>Dark</h4>
    <span>DC {{data.attributes.powerForceDarkDC}} / Mod {{numberFormat data.abilities.cha.mod decimals=0 sign=true }}</span>
  </div>

  {{#if isNPC}}
  <h3>{{localize 'SW5E.PowercasterLevel'}}</h3>
  <input class="powercasting-level" type="text" name="data.details.powerForceLevel"
  value="{{data.details.powerForceLevel}}" data-dtype="Number" placeholder="0"/>
  {{/if}}
</div>
