<div class="powercasting-ability">
  <div class="resource">
    <h4>{{localize "SW5E.ConsumableTech"}}</h4>

    <div>
      <input
        name="data.attributes.tech.points.value"
        type="text"
        value="{{data.attributes.tech.points.value}}"
        data-dtype="Number"
        placeholder="0"
      />
      <span>/</span>
      <input
        name="data.attributes.tech.points.max"
        type="text"
        value="{{data.attributes.tech.points.max}}"
        data-dtype="Number"
        placeholder="0"
      />
    </div>

    <footer>
      <input
        name="data.attributes.tech.points.temp"
        type="text"
        placeholder="+Temp"
        value="{{data.attributes.tech.points.temp}}"
        data-dtype="Number"
      />
      <input
        name="data.attributes.tech.points.tempmax"
        type="text"
        placeholder="+Max"
        value="{{data.attributes.tech.points.tempmax}}"
        data-dtype="Number"
      />
    </footer>
  </div>

  <div class="power-dc power-mod">
    <h4>Tech</h4>
    <span>DC {{data.attributes.powerTechDC}} / Mod {{numberFormat data.abilities.int.mod decimals=0 sign=true }}
  </div>

  {{#if isNPC}}
  <h3>{{localize 'SW5E.PowercasterLevel'}}</h3>
  <input class="powercasting-level" type="text" name="data.details.powerTechLevel"
  value="{{data.details.powerTechLevel}}" data-dtype="Number" placeholder="0"/>
  {{/if}}
</div>
