<div class="inventory-filters">
    <ul class="filter-list" data-filter="superiorityPowerbook">
      <li class="filter-title">{{localize "SW5E.Filter"}}</li>
      <li class="filter-item" data-filter="action">{{localize "SW5E.Action"}}</li>
      <li class="filter-item" data-filter="bonus">{{localize "SW5E.BonusAction"}}</li>
      <li class="filter-item" data-filter="reaction">{{localize "SW5E.Reaction"}}</li>
      {{#if owner}}
      <li class="toggle-layout inventory-layout powerbook-layout"><i class="fas fa-th-large toggle-grid" title="{{localize 'TIDY5E.GridLayout'}}"></i><i class="fas fa-th-list toggle-list" title="{{localize 'TIDY5E.ListLayout'}}"></i></li>
      {{/if}}
    </ul>
  </div>