<div class="inventory-footer">
  {{#if isCharacter}}
  <div class="attuned-items-counter" title="{{localize 'SW5E.Attunement'}}">
    <i class="fas fa-sun"></i>
    <span class="attuned-items-current">
      {{#if data.details.attunedItemsCount}}{{data.details.attunedItemsCount}}{{else}}0{{/if}}</span
    >/<span class="attuned-items-max">{{data.details.attunedItemsMax}}</span>
    <input
      type="text"
      class="attuned-items-max"
      name="data.details.attunedItemsMax"
      value="{{#if data.details.attunedItemsMax}}{{data.details.attunedItemsMax}}{{else}}3{{/if}}"
      placeholder="0"
      title="{{localize 'TIDYSW5E.AttunementMax'}}"
    />
  </div>
  {{/if}} {{#unless isNPC}}
  <div class="inventory-currency">
    <ul class="currency">
      <li class="currency-header" title="{{localize 'SW5E.Currency'}}">
        <i class="fas fa-coins"></i>
      </li>
      {{#each data.currency as |v k|}}
      <li class="currency-item {{k}}">
        <input type="text" name="data.currency.{{k}}" id="data.currency.{{k}}" value="{{v}}" data-dtype="Number" />
        <label for="data.currency.{{k}}" class="denomination {{k}}">Credits</label>
      </li>
      {{/each}}
    </ul>
  </div>
  {{/unless}}
</div>

{{#unless isNPC}} {{#with data.attributes.encumbrance}}
<div class="encumbrance {{#if encumbered}}encumbered{{/if}}" title="{{localize 'TIDYSW5E.Encumbrance'}}">
  <span class="encumbrance-bar" style="width:{{pct}}%"></span>
  <span class="encumbrance-label">{{value}} / {{number max}}</span>
  <i class="encumbrance-breakpoint encumbrance-33 arrow-up"></i>
  <i class="encumbrance-breakpoint encumbrance-33 arrow-down"></i>
  <i class="encumbrance-breakpoint encumbrance-66 arrow-up"></i>
  <i class="encumbrance-breakpoint encumbrance-66 arrow-down"></i>
</div>
{{/with}} {{/unless}}
